# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# Dataset và checkpoint - giữ thư mục, bỏ nội dung
dataset/*
!dataset/.gitkeep
checkpoint/*
!checkpoint/.gitkeep

# Logs
*.log
logs/ 